body, html {
    background-color: #320E3B;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

header {
    top: 0;
    left: 0;
    right: 0;
    height: 180px;
    color: #e6fbff;
    background-image: url("./imgs/atl_skyline.jpg");
    background-size: cover;
    position: relative;
    z-index: 1000;
}

@media (min-width: 1800px) {
    header {
        height: 360px;
    }
}

header::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, #320E3B 4%, #320E3B 15%, rgba(48, 13, 57, 0.9) 25%, rgba(48, 13, 57, 0.85) 60%);
    opacity: 0.85;
}

#header_inner {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    padding: 36px 20px 20px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    align-self: center;
    font-family: 'Gayathri', sans-serif;
    font-size: 2.875rem;
    text-shadow: 0 0 6px #000;
}

@media (min-width: 370px) {
    header h1 {
        font-size: 3.25rem;
    }
}

.heading-thin {
    font-weight: 100;
    text-decoration: overline;
}

.heading-bold {
    font-weight: 700;
    text-decoration: underline;
}

#filter-expand-btn {
    border: solid 1px #ffffff;
    margin: 26px auto 0;
    cursor: pointer;
}

#filter-expand-btn h3 {
    margin: 0 auto;
    padding: 6px 12px;
}

#filter-expand-btn svg {
    position: relative;
    top: 5px;
}

.btn-expanded {
    background-color: #e6fbff;
    color: #320E3B;
}

#filters-options-cont {
    width: 84vw;
    max-width: 420px;
    position: absolute;
    border-radius: 6px;
    box-sizing: border-box;
    right: 8vw;
    background-color: #e6fbff;
    color: #320E3B;
    transition: 0.6s ease all;
    z-index: 10;
    overflow: hidden;
}

.filters-options-cont-hidden {
    bottom: 40px;
    height: 0;
 }

.filters-options-cont-showing {
    bottom: -320px;
    height: 360px;
    border: 2px outset #c0c0c0;
}

@media (min-width: 700px) {
    #filters-options-cont {
        right: 0;
    }
}

.form-opt {
    text-align: center;
    padding: 8px;
    max-width: 86%;
    margin: 6px auto 0;
}

#form-btns {
    width: 58%;
    margin: 16px auto 0;
    display: flex;
    justify-content: space-between;
}

#form-btns button {
    font-size: 1rem;
    padding: 6px 12px;
    font-weight: 700;
    cursor: pointer;

    margin: 0 auto;
}

#btn-clear {
    color: #320E3B;
    background-color: transparent;
    border: solid 2px #320E3B;
}

#btn-clear:hover {
    background-color: #ffffff;
}

#btn-apply {
    color: #e6fbff;
    background-color: #320E3B;
    border: solid 2px #320E3B;
}

#btn-apply:hover {
    background-color: #75248a;
    color: #ffffff;
    text-shadow: 0 0 4px #000000;;
}

main {
    width: 96vw;
    max-width: 1460px;
    min-height: 60vh;
    margin: 0 auto;
    background-color: #e6fbff;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 360px) {
    main {
        padding: 20px 4px 0;
    }
}

.no-results {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-results h2 {
    margin: 0;
}

.property-card {
    min-width: 280px;
    width: 99%;
    max-width: 340px;
    margin: 0 auto 30px;
    background-color: #fff;
    border: solid 2px #dbdbdb;
    border-radius: 4px;
    transition: 0.3s ease all;
}

.property-card:hover {
    box-shadow: 0 0 8px rgb(160, 160, 160);
}

.card-head {
    position: relative;
    z-index: 5;
}

.card-head h3 {
    text-align: center;
    font-size: 1.5rem;
    margin: 6px auto 0;
}

@media (max-width: 360px) {
    .card-head h3 {
        font-size: 1.225rem;
    }
}

.img-main {
    position: relative;
}

.no-hoa {
    color: #ffffff;
    position: absolute;
    height: 0;
    width: 0;
    top: -6px;
    right: -20px;
    border-bottom: 45px solid #00d300;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
    transform: rotate(45deg);
}

.no-hoa p {
    width: 50px;
    line-height: 1.1;
    text-align: center;
    position: relative;
    right: 22px;
    bottom: 3px;
    font-size: 0.9rem;
    font-weight: 700;
    text-shadow: 0 0 4px #000000;
}

.heart {
    position: absolute;
    color: red;
    top: -40px;
    right: 16px;
    font-size: 2rem;
    cursor: pointer;
}

.price {
    text-align: center;
    font-size: 1.5rem;
    margin: 6px auto 0;
}

.property-card img {
    width: 95%;
    height: 51%;
    border: solid 1px #000;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
}

.bd-br {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    width: 84%;
    margin: 0 auto;
}

.bd-br p {
    margin: 0 auto;
}

.desc {
    padding: 0 16px 10px;
    margin: 0 auto;;
}

button.read-more {
    font-size: inherit;
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: rgb(117, 117, 228);
}

footer {
    background-color: #320E3B;
    color: #e6fbff;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 98vw;
}

footer p {
    padding: 0 12px;
}

footer a {
    text-decoration: none;
    color: #fffadd;
}

footer a:hover {
    text-decoration: underline;
}

#modal-outer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(48, 48, 48, 0.6);
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.modal-showing {
    display: flex;
}

.modal-hidden {
    display: none;
}

.modal-cont {
    width: 100vw;
    max-width: 1200px;
    height: 92vh;
    max-height: 640px;
    overflow-y: auto;
    background-color: #e6fbff;
    align-self: center;
    position: relative;
}

.modal-cont svg {
    position: fixed;
    right: 16px;
    top: 38px;
    cursor: pointer;
    color: #ffffff;
    background-color: rgba(27, 27, 27, 0.65);
    border-radius: 50%;
    padding: 2px;
}

.modal-img-cont {
    width: 98%;
    max-width: 650px;
    margin: 0 auto 8px;
}

#img-display {
    height: 100%;
    width: 100%;
}

.modal-address {
    text-align: center;
    font-weight: 700;
}

.modal-address p {
    margin: 0;
}

.modal-address,
.modal-details {
    max-width: 300px;
    border-bottom: solid 1px #320E3B;
    margin: 0 auto;
    padding: 10px 48px;
}

#modal-details-desc h3 {
    text-align: center;
    margin-bottom: 0;
}

.modal-details p {
    display: flex;
    justify-content: space-between;
    margin: 8px auto 0;
}

.modal-desc {
    padding: 16px;
    max-width: 440px;
    margin: 0 auto;
}

.modal-call {
    text-align: center;
}

@media (min-width: 950px) {
    .modal-cont {
        display: flex;
        justify-content: space-around;
    }
    #modal-img-address,
    #modal-details-desc {
        align-self: center;
    }
    .modal-cont svg {
        font-size: 2.4rem;
        right: 5%;
    }
    .modal-address {
        border-bottom: none;
    }
}